<div class="container mt-4">
    <form action="/admin/host/novo" method="post">
<div class="form-group">
    <label for="hostname">Hostname</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Conexão">
    <small id="emailHelp" class="form-text text-muted">Digite o endereço de ip ou hostname </small>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
</div>