<div class="container" style="padding: 50px;">
    <button class="btn btn-primary" onclick="myfun()">Shell</button>
    </div>

<script>
    var shell = require('shelljs')
    function myfun(){
        alert(shell.echo("teste"));
    }
</script>